h1{
    color: $color;
    margin: 0px 100px 10px 0px;  
    border-bottom: 5px solid $color;      
    h2{
    color: $color;
        .h2Inicio{
        margin-top: 20px;
        color: $color;
        justify-content: center;
        font-size: 150%;
        text-align: center;
        
        }
    }
}