header {
  padding: 0;
  margin-top: 0px;
  background-color: #1a3a69;
  display: flex; }
  header .menu__opciones:hover {
    transform: scale(0.85);
    transform-style: unset;
    background-image: radial-gradient(#050b2e); }

h1 {
  color: #010e22;
  margin: 0px 100px 10px 0px;
  border-bottom: 5px solid #010e22; }
  h1 h2 {
    color: #010e22; }
    h1 h2 .h2Inicio {
      margin-top: 20px;
      color: #010e22;
      justify-content: center;
      font-size: 150%;
      text-align: center; }

* {
  padding: 0;
  margin: 0; }

.menu__opciones {
  font-size: smaller;
  border-radius: solid 10px #f1f1f7;
  background-position: 50px;
  justify-content: space-evenly;
  padding-top: 65px;
  display: flex;
  flex-direction: row;
  flex: content;
  list-style: circle;
  text-transform: uppercase;
  border: outset 20px #010e22; }

.menu__opciones:hover {
  transform: scale(0.85);
  transform-style: unset;
  background-image: radial-gradient(#010e22); }

body {
  background-color: #d2eaff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-optical-sizing: unset;
  color: #010e22;
  padding-top: 0px; }

header {
  padding: 0;
  margin-top: 0px;
  background-color: #1a3a69;
  display: flex; }

.parrafo__index,
.texto__marcado {
  font-style: italic;
  margin: 50px 50px 50px 50px;
  text-align: justify; }

.slogan, .tablaServicios {
  font: bold;
  font-size: 50px;
  text-align: center; }

h1 {
  color: #0f274b;
  margin: 0px 100px 10px 0px;
  border-bottom: 5px solid #0f274b; }

h2 {
  color: #010e22; }

.h2Inicio {
  margin-top: 20px;
  color: #010b47;
  justify-content: center;
  font-size: 150%;
  text-align: center; }

section {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 5fr 5fr 5fr 5fr 5fr; }

.parrafo__presentacion {
  display: grid;
  grid-template-columns: 30% 70%;
  margin-right: 150px;
  text-align: justify; }

h3 {
  color: #18003d;
  font-size-adjust: 150%; }

h5 {
  font-size: 20px; }

.conoce__los--beneficios {
  color: #1a3a69;
  background-color: aliceblue;
  border-style: dotted;
  text-align: center;
  justify-content: first baseline; }

.carouselExampleIndicators {
  align-content: center; }

.imagenes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: "estilismo abdomen nariz" 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  text-align: center; }

.ul__menu--inicio,
article div {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: medium;
  border: 5px double #0c0153;
  position: fixed;
  margin-top: 25px;
  margin-right: 25px;
  background-image: url(./imagenes/Fondo-elegante-blanco.jpg); }

.conoce__los--beneficios {
  margin: 50px 100px 10px 0px; }

.tabla__inicio--beneficios {
  display: grid;
  grid-template-rows: 30% auto 30%;
  grid-template-columns: 50% 50%;
  margin: 10px 100px 200px 200px;
  border: 5px double #0c0153;
  text-transform: uppercase; }

.fotoDoctor {
  margin-left: 50px;
  border-radius: 1cm;
  border: double 10px; }

p {
  margin-left: 200px;
  font-size: 20px; }

.foto__servicio1:hover,
.foto__servicio2:hover,
.foto__servicio3:hover,
.foto__servicio4:hover,
.foto__servicio5:hover {
  transform: scale(2);
  transition: all 1s; }

.tablaServicios {
  margin-left: 0px; }

.p__Instagram--dr {
  margin-top: 50px; }

table {
  margin-left: 200px;
  background-color: #e2e2ff; }

tr {
  background-color: #a9cbfd;
  color: #010129;
  justify-items: center;
  font-style: italic; }

.imagenes__servicios {
  background-image: white;
  text-align: center; }

.img__class--clientes:hover {
  transform: translate(100px) scale(1.5);
  transition: all 1.5s;
  border-radius: 10%; }

.img__class--mapa:hover {
  transform: scale(1.5) translateX(100px);
  transition: all 1.5s;
  border: none; }

form {
  border: double #1a3a69 1px;
  margin-left: 200px; }

iframe {
  margin-left: 200px;
  margin-bottom: 50px; }

.presentacionDoctor,
article div {
  margin-left: 500px;
  margin-right: 300px;
  padding-top: 0px;
  border: solid 2.5px; }

.img__class--clientes,
.img__class--mapa {
  margin-left: 200px;
  border: solid #0c0c3b 5px; }

.implicaciones:hover,
.nariz__perfecta:hover {
  transform: translateX(200px) 5s; }

footer {
  background-color: #1a3a69;
  color: white;
  padding: 50px;
  margin-top: 100px;
  display: flex;
  justify-content: center; }

.logo__redes--sociales {
  width: 5%; }

.logo__redes--sociales:hover {
  transform: scale(2); }

.fotoDoctor {
  grid-area: fotodoc; }

.div__points {
  font-size: 100px; }

.card-body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 10% 90%;
  background-color: #adadff; }

.seccionClientes,
.card {
  margin-left: 50px; }

.card-text {
  margin-left: 0px; }

@media (max-width: 575.99px) {
  .experto__cirugia {
    font-size: medium;
    background-color: #050b2e;
    color: white;
    margin-top: 0px; }
  .h2Inicio {
    font-size: medium;
    text-align: center; }
  .parrafo__index,
  .texto__marcado,
  .parrafo__presentacion {
    font-size: small; }
  .slogan, .tablaServicios {
    font-size: large;
    background-color: #050b2e;
    color: white;
    text-align: center;
    margin-left: 0px; }
  .conoce__los--beneficios {
    font-size: medium;
    text-align: center;
    text-transform: uppercase; }
  .beneficios {
    display: grid;
    font-size: large;
    text-align: justify;
    grid-template-columns: 2fr 1f 1fr;
    margin-top: 0px; }
  .imagenes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 50px; }
  .logo__dr--Carlos {
    image-resolution: 50px; }
  .menu__opciones,
  .ul__menu--inicio {
    font-size: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    border: outset 10px #050b2e;
    padding-top: 0px;
    margin-right: 0px; }
  .seccionClientes {
    display: flex;
    flex-direction: column;
    font-size: 50%; }
  .experto {
    font-size: 150%;
    text-align: center; }
  .presentacion__doctor {
    font-size: large;
    background-color: #7499ff; }
  .parrafo__presentacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: justify;
    margin-left: 25px;
    margin-right: 25px; }
  .fotoDoctor {
    border-radius: 5cm white;
    text-align: left;
    margin-left: 0px;
    border-image: round; }
  footer {
    font-size: 70%;
    image-resolution: unset; }
  .logo__redes--sociales {
    image-resolution: 50px; }
  .proveedor {
    font-size: smaller; } }

@media (min-width: 576px) and (max-width: 992px) {
  .experto__cirugia {
    font-size: medium;
    background-color: #050b2e;
    color: white;
    margin-top: 0px; }
  .h2Inicio {
    font-size: medium;
    text-align: center; }
  .parrafo__index,
  .texto__marcado,
  .parrafo__presentacion {
    font-size: small; }
  .slogan, .tablaServicios {
    font-size: large;
    background-color: #050b2e;
    color: white;
    text-align: center;
    margin-left: 0px; }
  .conoce__los--beneficios {
    font-size: medium;
    text-align: center;
    text-transform: uppercase; }
  .beneficios {
    display: grid;
    font-size: large;
    text-align: justify;
    grid-template-columns: 2fr 1f 1fr;
    margin-top: 0px; }
  .imagenes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 50px; }
  .logo__dr--Carlos {
    text-align: center; }
  .menu__opciones,
  .ul__menu--inicio {
    font-size: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
    border: outset 10px #050b2e;
    padding-top: 0px;
    font-size: smaller;
    margin-right: 0px; }
  .seccionClientes {
    display: flex;
    flex-direction: column;
    font-size: 50%; }
  .experto {
    font-size: 70%; }
  .presentacion__doctor {
    font-size: large;
    background-color: #7499ff; }
  .parrafo__presentacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: justify; }
  .fotoDoctor {
    border-radius: 5cm white;
    text-align: left;
    margin-left: 50px;
    border-image: round; }
  footer {
    font-size: 70%;
    image-resolution: unset; }
  .proveedor {
    font-size: 80%; } }

@media (min-width: 1200px) {
  .experto__cirugia {
    font-size: normal;
    color: #050b2e;
    margin-top: 0px;
    text-align: center; }
  .h2Inicio {
    font-size: medium;
    text-align: center; }
  .parrafo__index,
  .texto__marcado,
  .parrafo__presentacion {
    font-size: large; }
  .slogan, .tablaServicios {
    font-size: large;
    background-color: #050b2e;
    color: white;
    text-align: center;
    margin-left: 0px; }
  .conoce__los--beneficios {
    font-size: medium;
    text-align: center;
    text-transform: uppercase; }
  .beneficios {
    display: grid;
    font-size: large;
    text-align: justify;
    grid-template-columns: 2fr 1f 1fr;
    margin-top: 0px; }
  .imagenes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 50px; }
  .logo__dr--Carlos {
    text-align: center; }
  .menu__opciones,
  .ul__menu--inicio {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex: content;
    text-align: center;
    border: outset 10px #050b2e;
    padding-top: 0px;
    font-size: medium;
    justify-content: space-evenly;
    padding-top: 65px; }
  .experto {
    font-size: 70%; }
  .presentacion__doctor {
    font-size: large;
    background-color: #7499ff; }
  .parrafo__presentacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: justify; }
  .fotoDoctor {
    border-radius: 5cm white;
    text-align: center;
    margin-left: 20px;
    border-image: round; }
  footer {
    font-size: 70%;
    image-resolution: unset; } }

.conoce__los--beneficios:hover {
  animation: conoce__los--beneficios 7s; }

.servicios:hover {
  animation: servicios 7s; }

.slogan, .tablaServicios {
  animation: slogan 10s; }

@keyframes slogan {
  0% {
    background-color: #b7faff; }
  25% {
    background-color: #0a0a2c;
    color: white;
    font-size: 70%; }
  50% {
    color: #0a0a2c;
    font-size: 90%; }
  75% {
    font-size: 100%;
    border: double white 5px; }
  90% {
    font-size: 110%; } }

@keyframes conoce__los--beneficios {
  0% {
    background-color: #b7faff; }
  25% {
    border-radius: 10%; }
  50% {
    width: fit-content;
    background-image: radial-gradient(blue);
    color: #0a0a2c; } }

.btn--instagram {
  background-color: red;
  font-size: large;
  color: white; }

.btn--facebook {
  background-color: #0f0f55;
  font-size: large;
  color: white; }

.servicios {
  border: 3px blue;
  background-color: white; }

.tablaServicios {
  border-width: 5px; }
